@model LoginOfertas3.EMPRESA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMP_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION.CALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION.CALLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
